div.render-view {
	width: 100%;
	height: 100%;

	div.canvas {
		width: 100%;
		height: 100%;
	}
}

div.render-view-fps {
    height: 0;
    width: 100%;

    div.fps-view {
        position: relative;
        opacity: .5;
        top: 10px;
        left: 10px;
        user-select: none;
    }
}