@import "../Theme/Theme.scss";

$line-min-height: 26px;

div.toggles-input {

    div.checkbox {
        width: $line-min-height;
        height: $line-min-height;
        overflow: hidden;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        user-select: none;
    }

    div.checkbox.red:hover {
        color: $lt-red !important;
    }
}

div.dark.text-field-root {

    div.toggles-input div.checkbox {
        background-color: $lt-bg-color-lvl3-dark;
		color: $lt-font-color-normal-dark;
    }

	div.toggles-input div.checkbox:hover {
		background-color: $lt-bg-color-lvl2-dark;
	}
}

div.light.text-field-root {

    div.toggles-input div.checkbox {
        background-color: $lt-bg-color-lvl3-light;
		color: $lt-font-color-normal-light;
    }

	div.toggles-input div.checkbox:hover {
		background-color: $lt-bg-color-lvl2-light;
	}
}