@import "../Theme/Theme.scss";

div.label {
    width: auto;
    height: auto;
    min-height: 24px;
    box-sizing: border-box;
    display: inline-flex;
    margin: 5px 5px;
    justify-content: center;
    vertical-align: middle;
    align-items: stretch;
    border-radius: 3px;
    border: .5px solid transparent;
    overflow: hidden;
    user-select: none;
    cursor: pointer;

    div.label-color {
        width: 3px;
        margin-right: 2px;
        border-radius: 3px;
        flex-shrink: 0;
    }

    div.label-name {
        padding: 2px 3px;
        display: flex;
        align-items: center;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    div.delete-button {
        flex-shrink: 0;
        padding: 2px 3px;
        border-radius: 3px;
        display: flex;
        align-items: center;
        user-select: none;
        cursor: pointer;
    }
}

div.label.one-line div.label-name {
    max-width: 100%;
    word-break: keep-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

div.label.add-button {
    width: 24px;
    align-items: center;
    justify-content: center;
}

div.dark.label.add-button {
    border: .5px dashed $lt-bg-color-lvl3-dark;
}

div.light.label.add-button {
    border: .5px dashed $lt-bg-color-lvl3-light;
}

div.dark.label {
    transition: none;
    background-color: $lt-bg-color-lvl3-dark;

    div.label-color {
        color: $lt-bg-color-lvl3-dark;
    }

    div.delete-button:hover {
        color: $lt-red;
    }
}

div.light.label {
    transition: none;
    background-color: $lt-bg-color-lvl3-light;

    div.label-color {
        color: $lt-bg-color-lvl3-light;
    }

    div.delete-button:hover {
        color: $lt-red;
    }
}

div.dark.label:hover {
    color: $lt-font-color-lvl2-dark;
    background-color: $lt-bg-color-lvl2-dark;
}

div.dark.label.focus {
    color: $lt-font-color-lvl1-dark;
    background-color: $lt-bg-color-lvl1-dark;
}

div.light.label:hover {
    color: $lt-font-color-lvl2-light;
    background-color: $lt-bg-color-lvl2-light;
}

div.light.label.focus {
    color: $lt-font-color-lvl1-light;
    background-color: $lt-bg-color-lvl1-light;
}