@import "../Theme/Theme.scss";

div.header-bar {   
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;

    // 在 Electron 中用于拖拽窗口
    -webkit-app-region: drag;

    div.title {
        padding-left: 3px;
    }

    div.title > i, div.fps-view > i {
        font-size: 25px;
        vertical-align: middle;
        padding-right: 8px;
    }

    div.ms-TooltipHost {
        padding: 0 8px;
        overflow: hidden;
        flex-shrink: 1;
        
        div {
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: keep-all;
            white-space: nowrap;
        }
    }

    div.header-windows-action {
        height: 100%;
        width: 145px;
        min-width: 145px;
        display: flex;

        // 在 Electron 中用于拖拽窗口
        -webkit-app-region: no-drag;

        div.action-button {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: .8em;
        }

        div.action-button:hover {
            cursor: pointer;
        }

        div.action-button.close-button:hover {
            color: #FFFFFF !important;
            background-color: $lt-red !important;
        }
    }

    div.header-windows-action.light {

        div.action-button:hover {
            background-color: rgba($color: #000000, $alpha: .1);
        }
    }

    div.header-windows-action.dark {

        div.action-button:hover {
            background-color: rgba($color: #FFFFFF, $alpha: .1);
        }
    }
}

div.header-bar.desktop-header-bar {
    font-size: .9em;

    div.title > i, div.fps-view > i {
        font-size: 18px;
    }

    div.title > span {
        display: inline-block;
        padding-left: 5px;
    }

    div.title {
        padding-left: 5px;
    }
}