div.header-bar {
    padding: 0 3px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;

    div.title > i, div.fps-view > i {
        font-size: 25px;
        vertical-align: middle;
        padding-right: 8px;
    }

    div.ms-TooltipHost {
        padding: 0 8px;
        overflow: hidden;
        flex-shrink: 1;
        
        div {
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: keep-all;
            white-space: nowrap;
        }
    }
}