@import "../Theme/Theme.scss";

@keyframes show-scale{
    from {
        transform: scale3d(1.15, 1.15, 1);
    }
    to {
        transform: scale3d(1, 1, 1);
    }
}

@keyframes show-fade{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

div.popup-mask.show-fade {
    animation: show-fade .1s cubic-bezier(0, 0, 1, 1) both;
    opacity: 1;
}

div.popup-layer.show-scale {
    animation: show-scale .3s cubic-bezier(.1, .9, .2, 1) both,
    show-fade .1s cubic-bezier(0, 0, 1, 1) both;
    transform: scale3d(1, 1, 1);
    opacity: 1;
}

div.popup-mask {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

div.popup-layer {
    position: absolute;
    border-radius: 3px;
    overflow: hidden;

    div.popup-layer-header {
        min-height: 32px;
        max-height: 32px;
    }
}

div.popup-layer.dark {

    div.popup-layer-header {
        background-color: $lt-bg-color-lvl3-dark;
    }
}

div.popup-layer.light {

    div.popup-layer-header {
        background-color: $lt-bg-color-lvl3-light;
    }
}

div.dark.popup-mask {
    background-color: rgba(0, 0, 0, 0.55);
}

div.light.popup-mask {
    background-color: rgba(0, 0, 0, 0.15);
}