@import "../Theme/Theme.scss";

$header-height: 32px;

@keyframes show-scale{
    from {
        transform: scale3d(1.15, 1.15, 1);
    }
    to {
        transform: scale3d(1, 1, 1);
    }
}

@keyframes show-fade{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

div.popup-mask.show-fade {
    animation: show-fade .1s cubic-bezier(0, 0, 1, 1) both;
    opacity: 1;
}

div.popup-layer.show-scale {
    animation: show-scale .3s cubic-bezier(.1, .9, .2, 1) both,
    show-fade .1s cubic-bezier(0, 0, 1, 1) both;
    transform: scale3d(1, 1, 1);
    opacity: 1;
}

div.popup-mask {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

div.focus.popup-layer {
    border: 0.8px solid #514feb;
}

div.popup-layer {
    position: absolute;
    border-radius: 3px;
    transition: none;
    box-sizing: border-box;
    border: 0.8px solid transparent;

    div.popup-layer-container {
        width: 100%;
        height: 100%;
        display: flex;
    }

    div.popup-layer-root-content {
        width: 100%;
        height: 100%;
    }

    div.popup-layer-header {
        min-height: $header-height;
        max-height: $header-height;
        height: $header-height;
        display: flex;
        width: 100%;

        div.header-text {
            width: calc( 100% - 32px );
            flex-shrink: 1;
            display: flex;
            align-items: center;
            user-select: none;
            
            span {
                padding-left: 10px;
                display: inline-block;
                vertical-align: bottom;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }

        div.header-close-icon {
            width: $header-height;
            height: $header-height;
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            user-select: none;
            cursor: pointer;
        }
    }

    div.popup-layer-content {
        height: calc( 100% - 32px );
        width: 100%;
        overflow: hidden;
    }
    
    div.drag-line-root.drag-line-y {
        flex-direction: column;
    }

    div.drag-line-root {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        div.drag-line {
            transition: all 300ms ease-in-out;
            display: flex;
        }

        div.render-drag-block-root {
            height: 0;
            width: 0;
            display: flex;
            justify-content: center;
            align-items: center;

            div.render-drag-block {
                min-width: 5px;
                min-height: 5px;
                position: relative;
            }
        }

        div.drag-line:hover {
            background-color: $lt-blue;
        }

        div.drag-line.hover {
            background-color: $lt-blue;
        }
    }
}

div.popup-layer.dark {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);

    div.popup-layer-header {

        div.header-close-icon:hover {
            background-color: $lt-bg-color-lvl2-dark;
            color: $lt-red;
        }
    }
}

div.popup-layer.light {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);

    div.popup-layer-header {

        div.header-close-icon:hover {
            background-color: $lt-bg-color-lvl2-light;
            color: $lt-red;
        }
    }
}

div.dark.popup-mask {
    background-color: rgba(0, 0, 0, 0.55);
}

div.light.popup-mask {
    background-color: rgba(0, 0, 0, 0.15);
}