@import "../Theme/Theme.scss";

div.behavior-popup {
	width: 100%;
	height: 100%;
}

span.behavior-popup-select-counter {
	opacity: .75;
}

div.behavior-popup-search-box {
	padding: 10px 0 10px 10px;
	width: calc(100% - 10px);
}