@import "../Theme/Theme.scss";

$line-min-height: 26px;

div.label-picker-root {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	min-height: $line-min-height;
	padding: 5px 0;

    div.input-intro {
		width: 50%;
		height: 100%;
		max-width: 220px;
		display: flex;
		align-items: center;
        padding-right: 5px;
        box-sizing: border-box;
	}

    div.root-content {
        width: 50%;
        height: 100%;
        max-width: 180px;
        min-height: $line-min-height;
        border-radius: 3px;
        overflow: hidden;
        display: flex;
	}
}